@import url('https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap');

.swanky-and-moo-moo-regular {
    font-family: "Swanky and Moo Moo", cursive;
    font-weight: 400;
    font-style: regular;
}

:root {
    --primary-orange: #FF851B;
    --light-orange: #FFD5B4;
    --dark-orange: #CC5500;
    --bg-cream: #FFF9F5;
}

body {
    font-family: "Swanky and Moo Moo", cursive;
    background-color: var(--bg-cream);
    color: var(--dark-orange)
}